.nav-pills .nav-link {
  color: #2980b9;
  border: solid 1px #2980b9;
  border-radius: 0;
}

.nav-pills .nav-link.active {
  background-color: #2980b9;
  color: white;
}

.card {
  margin-bottom: .5rem;
  padding: 5px;
}